@font-face {
  font-family: Gilroy-ExtraLight;
  src: url("../fonts/Gilroy-Light.otf");
}

@font-face {
  font-family: Gilroy-ExtraBold;
  src: url("../fonts/Gilroy-ExtraBold.otf");
}
/* Loading Spinner */

#loader {
  width: 100vw;
  height: 100vh;
  opacity: 1;
  align-items: center;
  justify-content: center;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loader-cube-grid {
  width: 40px;
  height: 40px;
  margin: 20px 0;
}

.loader-cube-grid .loader-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: loader-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: loader-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.loader-cube-grid .loader-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.loader-cube-grid .loader-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.loader-cube-grid .loader-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.loader-cube-grid .loader-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.loader-cube-grid .loader-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.loader-cube-grid .loader-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.loader-cube-grid .loader-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.loader-cube-grid .loader-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.loader-cube-grid .loader-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes loader-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes loader-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

#content {
  display: none;
}

a {
  text-decoration: none !important;
}

.navbar {
  background-color: transparent !important;
  z-index: 999;
}
.navbar .navbar-brand {
  color: rgb(255, 255, 255) !important;
  text-transform: uppercase;
}
.navbar-nav .nav-link {
  color: rgb(255, 255, 255) !important;
  text-transform: uppercase;
}
.nav-item {
  padding: 0px 10px;
  transition: 0.18s ease-in all;
}
.quick-links a {
  transition: 0.18s ease-in all;
  padding-bottom: 3px;
}
.quick-links a:hover {
  box-shadow: 0px 1px 0px 0px #5889d3;
  color: #5889d3 !important	;
}
.desktop-links i:hover {
  color: #5889d3 !important	;
}
.desktop-links i {
  transition: 0.18s ease-in all;
}
.nav-item:hover {
  box-shadow: 0px 1px 0px 0px #5889d3;
}
.nav-item:hover .nav-link {
  color: #5889d3 !important	;
}
.nav-item .nav-link {
  transition: 0.18s ease-in all;
}
.hhs-active {
  background-color: #22395b !important;
}
/* HomePage */
body,
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.home {
  background-image: url("../img/background1.png");
  width: auto;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -60px;
}
.hometext {
  margin: 280px 80px 0px 50px;
  color: white;
}
.hometext h1 {
  font-family: Gilroy-ExtraBold;
}
.home-img {
  width: 100%;
  margin-top: 30%;
}
.hhs-section h2 {
  font-weight: bold;
  color: #22395b;
}
.hhs-section {
  padding: 110px 0px;
  position: relative;
}
.hhs-section .heading-tag {
  margin-bottom: 60px;
}
.hhs-section .heading-tag h2 {
  font-family: Gilroy-ExtraBold;
}

/* About us */
.content-tag {
  padding: 20px 23%;
  font-size: 17px;
  text-align: justify;
}
/* Our process */

.img-tag img {
  width: 60%;
  z-index: 89;
}
/* Why collab */
.hhs-card {
  width: 260px;
  height: 220px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  padding: 40px;
}
.hhs-card img {
  width: 50%;
}
.hhs-card p {
  margin-top: 15px;
  color: #707070;
  text-decoration: none !important;
}
.hhs-card:hover p {
  color: #707070;
  text-decoration: none !important;
}
.hhs-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
#why-collab .col-md-4 {
  text-align: center;
  margin: 0px auto;
}
#why-collab .hhs-card {
  text-align: center;
  margin: 20px auto;
}

/*Changing the color of collaboration heading to white*/
.collab {
  color: white;
}
.services-tag p {
  color: white;
}

#services {
  background: url("../img/bg-1.png");
  background-position: center center;
  background-size: 100% 100%;
  /* background-size: cover; */
  padding: 270px 0px 270px 20px;
}
.services-tag {
  margin: 120px 250px;
}
.services-tag .col-md-3:hover {
  box-shadow: 3px 0px 30px 0px rgba(0, 0, 0, 0.212);
}
.services-tag .col-md-3 {
  transition: 0.18s ease-in all;
}
.services-tag img {
  height: 160px;
  margin: 20px auto;
}
.btn-container {
  margin: 20px auto;
}
.btn-services {
  border-radius: 20px;
  border: solid 1px #ffffff;
  background-color: rgba(255, 255, 255, 0);
  outline: none !important;
  box-shadow: none !important;
  color: #ffffff;
  padding: 7px 40px;
}
.btn-services:hover,
.btn-services:focus,
.btn-services:active {
  border-radius: 20px;
  border: solid 1px #ffffff;
  background-color: rgba(255, 255, 255, 0);
  outline: none !important;
  box-shadow: none !important;
  background-color: #ffffff !important;
  padding: 7px 40px;
  color: black !important;
}

.contact-c img {
  width: 45px;
  margin-bottom: 9px;
}
.contact-c {
  margin-bottom: 50px;
}
#contact-us {
  margin: 120px 80px;
}
input,
textarea {
  background-color: #eeeeee !important;
  border-radius: 0 !important;
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid transparent !important;
  width: 70% !important;
  margin: auto;
  color: black !important;
}
input {
  height: 45px !important;
}
input::placeholder,
textarea::placeholder,
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: black !important;
}
.btn-submit {
  /* margin-left: -230px !important; */
  border: none;
  background-color: #eeeeee !important;
  color: black;
  outline: none !important;
  box-shadow: none !important;
  width: 200px;
  margin-top: 20px;
}
.btn-submit:hover,
.btn-submit:active {
  border: none;
  background-color: #f1f1f1 !important;
  color: black !important;
  outline: none !important;
  box-shadow: none !important;
  width: 200px;
  margin-top: 20px;
}

footer {
  background-color: #22395b;
  height: 236px;
  width: 100%;
}
footer .col-md-4 {
  text-align: center;
}
.footer-img {
  margin: 0 auto;
  text-align: center;
  height: 230px;
}
.links-cont {
  text-align: center;
}
.quick-links {
  margin-top: 70px;
}
.links-cont a {
  color: white !important;
  margin: 30px;
  font-size: 18px;
  text-decoration: none !important;
}
.desktop-links {
  margin-top: 40px !important;
}
.links-cont i {
  color: white !important;
  font-size: 30px;
  margin-left: 20px;
}

.desktop-links {
  display: block;
}
.phone-links {
  display: none;
  text-align: center;
  margin-top: 30px;
}
.phone-links a {
  color: white !important;
  margin: 20px;
  font-size: 20px;
  text-align: center;
}

/* our Services */
#our-services .content-tag {
  text-align: justify;
}
#our-services h2 {
  color: #3c90e6;
}
#our-services-card .hhs-card {
  width: 220px;
  height: 200px;
  margin: 20px auto;
}
.single-service {
  padding: 100px 220px;
  position: relative;
}
.single-service .content-col {
  padding: 0px 80px;
}
.single-service .content-col h2 {
  margin: 30px 0px;
  font-family: Gilroy-ExtraBold;
  color: #3c90e6;
}
.single-service .content-col p,
.single-service .content-col *,
.single-service .content-col * {
  color: #707070;
}
.single-service .content-col strong {
  margin-bottom: 4px;
}
.single-service .tech-stack {
  padding: 10px 70px;
  margin-top: 20px;
}

.aa {
  border: 0px #fff !important;
}

.single-service .tech {
  padding: 6px 15px;
  border-radius: 5px;
  border: solid 1px #d4d4d4;
  display: block;
  width: 100%;
  text-align: center;
  text-transform: capitalize;
}

/* Dots */
.aboutdot {
  width: 45px;
  position: absolute;
  right: 190px;
  top: 30px;
}
.processdot1 {
  width: 45px;
  position: absolute;
  left: 230px;
  bottom: 230px;
}
.processdot2 {
  width: 150px;
  position: absolute;
  right: 220px;
  bottom: 20px;
  z-index: -999;
}
.hss-card {
  z-index: 140;
}
.collabdot1 {
  width: 80px;
  position: absolute;
  left: 10%;
  bottom: 40px;
  z-index: -99;
  opacity: 0.4;
}
.collabdot2 {
  width: 80px;
  position: absolute;
  right: 10%;
  top: 0px;
  z-index: -99;
  opacity: 0.4;
}
.collabdot3 {
  width: 80px;
  position: absolute;
  right: 10%;
  bottom: -40px;
  z-index: -99;
  opacity: 0.4;
}
.sdot0 {
  width: 280px;
  position: absolute;
  left: -40px;
  bottom: 30px;
  z-index: 99;
  opacity: 1;
}
.sdot1 {
  width: 280px;
  position: absolute;
  right: -40px;
  top: 30px;
  z-index: 99;
  opacity: 1;
}

.web-1,
.app-1,
.gd-1,
.ui-1 {
  position: absolute;
  width: 200px;
  opacity: 0.03;
  top: 10%;
  right: -30px;
}

@media (max-width: 768px) {
  .single-service {
    padding: 70px 0px;
  }
  .single-service .col-md-4 {
    margin: auto;
    text-align: center;
  }
  .tech-stack {
    display: none;
  }
  #services {
    background: #22395b !important;
  }
  .aboutdot {
    width: 45px;
    position: absolute;
    right: 20px;
    top: 30px;
  }
  .processdot1 {
    display: none;
  }
  .processdot2 {
    display: none;
  }
  .collabdot1 {
    width: 51px;
    position: absolute;
    left: 4%;
    bottom: 239px;
    z-index: -99;
    opacity: 0.4;
  }
  .collabdot2 {
    width: 70px;
    position: absolute;
    right: -1%;
    top: 121px;
    z-index: -99;
    opacity: 0.4;
  }
  .collabdot3 {
    width: 56px;
    position: absolute;
    right: 6%;
    bottom: -65px;
    z-index: -99;
    opacity: 0.4;
  }
  .sdot0 {
    display: none;
  }
  .sdot1 {
    display: none;
  }
  .hometext p {
    text-align: right;
  }
  .navbar .navbar-brand {
    font-size: 18px;
  }
  .hometext {
    margin: 140px 80px 0px 30px;
    color: white;
  }
  .home-img {
    margin-top: 0;
  }
  .content-tag {
    padding: 20px 16%;
  }
  .img-tag img {
    width: 90%;
  }
  .services-tag {
    margin: 0px auto;
  }
  .services-tag {
    width: 200px;
  }
  #contact-us {
    margin: 0px auto;
  }
  footer {
    margin-top: 60px;
    height: 600px;
  }
  .links-cont {
    margin-top: 70px;
  }
  .links-cont a {
    color: white !important;
    margin: auto;
    text-align: center;
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
  }
  .desktop-links {
    display: none;
  }
  .phone-links {
    display: block;
  }
}
.single-service .col-md-4 img {
  width: 380px;
}
#floating-whatsapp {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 999;
}

#floating-whatsapp img {
  height: 70px;
  width: 70px;
  cursor: pointer;
}
#floating-whatsapp a {
  cursor: pointer;
}
@media (max-width: 768px) {
  #floating-whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
  }
  #floating-whatsapp img {
    height: 40px;
    width: 40px;
    cursor: pointer;
  }
}
#our-services {
  padding: 110px 0px 30px 0px !important;
}
#our-services-card {
  padding-top: 0px !important;
}
.single-service .col-md-4 img {
  margin-top: 60px;
}
.single-service ul {
  margin-bottom: 0;
  padding-bottom: 0;
}
@media (max-width: 768px) {
  .single-service .col-md-4 img {
    width: 70%;
  }
  .single-service .content-col h2 {
    font-size: 25px;
  }
  .single-service .content-col p {
    text-align: justify;
  }
}

/* Loading Spinner */

#loader {
  width: 100vw;
  height: 100vh;
  opacity: 1;
  align-items: center;
  justify-content: center;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loader-cube-grid {
  width: 40px;
  height: 40px;
  margin: 20px 0;
}

.loader-cube-grid .loader-cube {
  width: 33%;
  height: 33%;
  background-color: #3c90e6;
  float: left;
  -webkit-animation: loader-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: loader-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.loader-cube-grid .loader-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.loader-cube-grid .loader-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.loader-cube-grid .loader-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.loader-cube-grid .loader-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.loader-cube-grid .loader-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.loader-cube-grid .loader-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.loader-cube-grid .loader-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.loader-cube-grid .loader-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.loader-cube-grid .loader-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes loader-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes loader-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

#content {
  display: none;
}
